html
    head
        title pug document
        link(rel="stylesheet",href="../index.css")
        link(rel="stylesheet",href="../bootstrap.min.css")
    body
        h1 People Data
        div.table
            table
                thead
                    th Sno
                    th Name
                    th City
                tbody
                    each x in people
                        tr
                            td= x.sno
                            td= x.name
                            td= x.city

            h3.alert.alert-dark Programmed by #{programmer}